* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 25px;
}
:root {
  --container-width: 70%;
  --container-margin: 0px auto;
  --line-height: 30px;
  --section-padding: 3rem 0px;
  ---max-width-660-font: 19px;
}
/* ===============NAVBAR==================== */
.navbar {
  border-bottom: 1px solid grey;
}
.navlinks li a {
  text-decoration: none;
  color: #000;
}
/* ===============SERVICES PAGE =================== */

.services-pg {
  padding: var(--section-padding);
}
.services-pg-container {
  width: var(--container-width);
  height: 100%;
  margin: var(--container-margin);
  align-items: center;
}
.services-pg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.more-services {
  padding: 10px;
}
.more-services:hover {
  background-color: rgba(255, 0, 0, 0.877);

  color: #fff;
  border-radius: 10px;
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}
.services-pg-subtitle {
  color: rgba(0, 0, 128, 0.904);
  margin: 8px 0px;
}
.more-services:hover .services-pg-subtitle {
  color: #fff;
}
.services-pg-content img {
  width: 432px;
  height: 380px;
}
.more-services:hover p {
  color: #ccc;
}
/* ===============RESPONSIVENESS SERVICES PAGE =================== */
@media screen and (min-width: 375px) and (max-width: 500px) {
  * {
    font-size: var(---max-width-660-font);
  }
}

@media screen and (max-width: 660px) {
  .services-pg-container {
    width: 90%;
    height: 100%;
    margin: var(--container-margin);
    align-items: center;
  }
  .services-pg-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .services-pg-content img {
    width: 100%;
    height: 100%;
  }
  .services-pg-subtitle {
    color: #fff;
  }
  .more-services {
    background-color: rgba(255, 0, 0, 0.877);

    color: #fff;
    border-radius: 10px;
    margin: 15px 0px;
  }
  .more-services p {
    color: #ccc;
  }
  .footer-container {
    width: 90%;
    margin: var(--container-margin);
    height: 100%;
  }
}

/* 432by 380 */
@media screen and (min-width: 660px) and (max-width: 768px) {
  * {
    font-size: 25px;
  }
  .services-pg-container {
    width: 90%;
    height: 100%;
    margin: var(--container-margin);
    align-items: center;
  }
  .services-pg-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer-container {
    width: 90%;
    margin: var(--container-margin);
    height: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 28px;
  }
  .services-pg-container {
    width: 80%;
    height: 100%;
    margin: var(--container-margin);
    align-items: center;
  }
  .services-pg-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer-container {
    width: var(--container-width);
    margin: var(--container-margin);
    height: 100%;
  }
  .services-pg-content img {
    width: 100%;
    height: 100%;
  }
  .footer-container {
    width: 80%;
    margin: var(--container-margin);
    height: 100%;
    margin-bottom: 2rem;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
